.promotion-block .promotion-holder{
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.1);
}
.promotion-holder .img-holder img.size-full {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.promotion-block .promotion-holder .summary{
    padding: 30px;
}
[class*=promotions-layout-] .promotion-block{
    display: grid;
    grid-gap: 30px;
}
[class*=teams-layout-] .team-block{
    display: grid;
    grid-gap: 30px;
}
[class*=promotions-layout-] .promotion-block .promotion-holder .btn{
    display: inline-block;
    vertical-align: top;
}


.teams-layout-1 .team-block{
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
.promotions-layout-1 .promotion-block{
    grid-template-columns: repeat(2,1fr);
}
.promotions-layout-1 .promotion-block .promotion-holder .post-title,
.promotions-layout-2 .promotion-block .promotion-holder .post-title,
.promotions-layout-3 .promotion-block .promotion-holder .post-title,
.promotions-layout-4 .promotion-block .promotion-holder .post-title{
    margin: 0 0 15px;
}
.promotions-layout-1 .promotion-block .promotion-holder p,
.promotions-layout-2 .promotion-block .promotion-holder p,
.promotions-layout-3 .promotion-block .promotion-holder p{
    margin: 0 0 15px;
}
/*.promotions-layout-1 .promotion-block .promotion-holder .btn,
.promotions-layout-2 .promotion-block .promotion-holder .btn,
.promotions-layout-3 .promotion-block .promotion-holder .btn{
    margin: 0 30px 30px;
}*/



.promotions-layout-3 .promotion-block{
    grid-template-columns: repeat(4, 1fr);
}
.promotions-layout-3 .promotion-block .promotion-holder:first-child{
    grid-column: 1 / span 2;
}
.promotions-layout-3 .promotion-block .promotion-holder:nth-child(2){
    grid-column: 3 / span 2;
}



.promotions-layout-4 .promotion-block{
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px 30px;
}
.promotions-layout-4 .promotion-block .promotion-holder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    box-shadow: none;
}






[class*=services-layout-] .service-holder {
    list-style: inside decimal-leading-zero;
    padding: 0;
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
}
[class*=services-layout-] .service-holder h4 {
    font-size: 24px;
    margin: 0;
}
[class*=services-layout-] .service-holder p {
    font-size: 16px;
    font-weight: 400;
}
[class*=services-layout-] .service-holder a.btn {
    font-size: 16px;
    display: block;
}
[class*=services-layout-] .img-holder{
    display: none;
}



.services-layout-2 .service-holder{
    grid-template-columns: repeat(3, 1fr);
}




.testimonial-layout-1{
    text-align: center;
}
[class*=testimonial-layout-] img{
    width: 80px !important;
    height: 80px !important;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
    border-radius: 1000px;
    display: inline-block !important;
    vertical-align: top;
}
[class*=testimonial-layout-] .post-title{
    font-size: 20px;
    margin: 0 0 15px;
}
[class*=testimonial-layout-] p{
    margin: 0 0 15px;
}
.testimonial-layout-1 .testimonial-holder {
    padding: 0 100px;
}
.testimonial-layout-1 img{
    margin: 0 0 15px;
}
.testimonial-layout-1 .testimonial-content .review-tag{
    justify-content: center;
}
[class*=testimonial-layout-] .testimonial-content .review-tag{
    display: inline-block;
    flex-wrap: wrap;
}
[class*=testimonial-layout-] .testimonial-content .review-tag span {
    margin: 0 5px 0 0;
    display: inline-block;
}
[class*=testimonial-layout-] .testimonial-content .review-tag ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inherit;
    flex-wrap: wrap;
}
[class*=testimonial-layout-] .testimonial-content .review-tag ul li{
    margin: 0 5px 0 0;
    position: relative;
    color: #757575;
}
[class*=testimonial-layout-] .testimonial-content .review-tag ul li:first-child:before {
    content: "-";
    margin: 0 5px 0 0;
}
[class*=testimonial-layout-] .testimonial-content .review-tag ul li:after{
    content: "/";
    margin: 0 0 0 5px;
}
[class*=testimonial-layout-] .testimonial-content .review-tag ul li:last-child:after{
    content: none;
}




.testimonial-layout-2 .testimonial-holder{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    text-align: left !important;
}
.testimonial-holder .review-tag ul li {
    display: inline-block;
}


.testimonial-layout-3{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px 30px;
}
.testimonial-layout-3 img{
    margin: 0 0 15px;
}


.testimonial-layout-4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
.testimonial-layout-4 .testimonial-holder{
    padding: 20px;
    border: 1px solid #ddd;
}
.testimonial-layout-4 .testimonial-holder img{
    margin: 0 0 15px;
}


.owl-dots {
    display: flex;
    justify-content: center;
    margin: 30px 0 0;
}
.owl-carousel button.owl-dot {
    background: #aaa !important;
    border: 1px solid #aaa !important;
    margin: 0 10px 0 0;
    width: 10px;
    height: 10px;
    transition: all 0.3s ease;
    border-radius: 1000px;
}
.owl-carousel button.owl-dot.active,
.owl-carousel button.owl-dot:hover{
    background: #222 !important;
    border-color: #222 !important;
}
.owl-carousel button.owl-dot:last-child{
    margin: 0;
}

/*style for pricing table*/
.aew-pt-content-block{
    display: block;
    width: 100%;
}
.aew-pt-badge.aew-pt-content-block {
    position: absolute;
    left: 0;
    top: 3px;
}
.aew-pt-features-block.aew-pt-content-block .feature-list:last-child {
    border-bottom: none !important;
}
.aew-pt-content-block  .price-amount-block-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.aew-pt-content-block  .price-amount-block-inner span.pricing-currency.align-top,
.aew-pt-content-block  .price-amount-block-inner span.decimal-digit.align-top {
    align-self: flex-start;
    padding-top: 6px;
    padding-right: 5px;
}
.aew-pt-content-block  .price-amount-block-inner span.pricing-currency.align-bottom,
.aew-pt-content-block  .price-amount-block-inner span.decimal-digit.align-bottom {
    align-self: flex-end;
    padding-bottom: 6px;
    padding-right: 5px;
}
.aew-pt-block-holder {
    display: block;
    position: relative;
    overflow: hidden;
}
.aew-pt-badge.aew-pt-content-block.badge-left {
    transform: rotate(-44deg);
    width: auto;
    top: 28px;
    left: -43px;
}
.aew-pt-badge.aew-pt-content-block.badge-right {
    transform: rotate(44deg);
    max-width: 122px;
    top: 4px;
    right: 4px;
    left: auto;
}
.aew-pt-badge.aew-pt-content-block.badge-left  .badge-style,
.aew-pt-badge.aew-pt-content-block.badge-right  .badge-style {
   
    min-width: 180px;
    display: inline-block;
    text-align: center;
}
.aew-pt-badge.badge-center {
    top: 3px;
    position: relative;
}

@media only screen and (max-width: 991px){
    /*.promotions-layout-3 .promotion-block,*/
    .promotions-layout-3 .promotion-block{
        grid-template-columns: repeat(3,1fr);
    }
    .promotions-layout-3 .promotion-block .promotion-holder:first-child,
    .promotions-layout-3 .promotion-block .promotion-holder:nth-child(2){
        grid-column: inherit;
    }
    .promotions-layout-4 .promotion-block .promotion-holder{
        grid-gap: 0;
    }

    .testimonial-layout-1 .testimonial-holder{
        padding: 0 30px;
    }
    .testimonial-layout-3{
        grid-template-columns: repeat(2, 1fr);
    }
}


@media only screen and (max-width: 767px){
    .promotions-layout-2 .promotion-block,
    .promotions-layout-3 .promotion-block,
    .services-layout-2 .service-holder{
        grid-template-columns: repeat(2,1fr);
    }
    .services-layout-2 .service-holder{
        grid-template-columns: repeat(2, 1fr);
    }
    .testimonial-layout-4{
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 575px){
    .promotions-layout-1 .promotion-block,
    .promotions-layout-2 .promotion-block,
    .promotions-layout-3 .promotion-block,
    .promotions-layout-4 .promotion-block,
    .inside-page .col-sm-9 .promotions-layout-2 .promotion-block,
    .testimonial-layout-2,
    .testimonial-layout-3,
    .services-layout-2 .service-holder{
        grid-template-columns: 1fr;
    }

    .testimonial-layout-1 .testimonial-holder{
        padding: 0 15px;
    }
}











